<h1><%= @first_filter_name %> cases</h1>

<table>
  <thead>
    <tr>
      <th>Type</th>
      <th>Labels</th>
      <th>Subject</th>
      <th>Status</th>
      <th>Updated</th>
      <th>Priority</th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity["type"] %></td>
        <td><%= entity["labels"] * ', ' %></td>
        <td><%= entity["subject"] %></td>
        <td><%= entity["status"] %></td>
        <td><%= time_ago_in_words(entity["updated_at"]) %> ago</td>
        <td><%= entity["priority"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
